---
import "../styles/global.css";

import { ReactuneComponent } from "../components/Reactune";
import { Content } from "./doc.md";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <div class="max-w-[700px] w-full mx-auto mb-[30px]">
    <div
      class="flex flex-col w-full items-center relative h-[80px] mb-[15px] sm:mb-[30px]"
    >
      <span
        class="text-[2rem] md:text-[4rem] tracking-[5px] leading-[70px] uppercase font-bold absolute top-0 bg-gradient-to-t to-secondary/10 from-transparent bg-clip-text text-transparent"
      >
        Reactune
      </span>
      <h1
        class="text-[1.5rem] md:text-[2.5rem] text-secondary uppercase font-bold tracking-[5px] leading-[40px] mt-[35px]"
      >
        Reactune
      </h1>
    </div>
    <ReactuneComponent client:load />
    <figcaption class="mt-2 text-xs text-secondary/70 text-right">
      Video by <a
        href="https://www.youtube.com/@JacobKatieSchwarz"
        class="underline hover:text-secondary"
        target="_blank"
        rel="noopener noreferrer">Jacob + Katie Schwarz</a
      > (YouTube)
    </figcaption>
  </div>
  <article
    class="prose max-w-none dark:prose-invert prose-headings:my-[5px] prose-headings:text-secondary prose-p:text-[18px] prose-strong:text-secondary"
  >
    <Content />
  </article>
</Layout>
