---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/reactune-demo/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Reactune</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-primary px-[20px]">
    <img id="background" src="/reactune-demo/background.svg" alt="" fetchpriority="high" />
    <main
      class="flex flex-col w-full py-[30px] gap-[10px] mx-auto max-w-[1200px] pb-[100px]"
    >
      <slot />
    </main>
  </body>
</html>
